/* 
    Created on : 18-Feb-2024, 7:12:20 pm
    Author     : haris
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.primary-background{
    background: #21099a !important;
}
.dropdown1 {
    
    font-size: 14px;
    border:1px solid navy ;
    background: transparent;

}
.span {
    margin: 2px;
}


* {
    margin: 0;
    padding: 0;
}
section{
    position:relative;
    width: 100%;
    height: 92vh;
    /*background: #3589ff;*/
    background:  #21099a;
    overflow: hidden;
}
#register-section{
    height: 95vh;
}
#home-section{
    height: 50%;
}

section .wave {
    position: absolute;
    bottom:0;
    height: 100px;
    width: 100%;
    background: url("../img/wave.png");
    background-size: 1000px 100px;
}
section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index:1000;
    opacity: 1;
    animation-delay: 0s;
    bottom:0;

}
section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index:999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom:10px;

}
section .wave.wave3{
    animation: animate3 30s linear infinite;
    z-index:998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom:15;

}
section .wave.wave4{
    animation: animate4 15s linear infinite;
    z-index:997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom:20px;

}

#home-section .wave1 {
    
    position: absolute;
    bottom:0;
    height: 100px;
    width: 100%;
    background: url("../img/wave.png");
    background-size: 1000px 100px;
}
#subtitle{
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none !important;
}

@media only screen and (max-width: 600px) {
    
    #home-section{  
     /*height: 151vw;*/
    }
 #home-section .wave1 {
    
/*    position: absolute;
    bottom:0;
    height: 0px;
    width: 0%;
    background: url("../img/wave.png");
    background-size: 1000px 100px;*/
}
}


@keyframes animate
{
    0%{
        background-position-x:0px;
    }
    100%{
        background-position-x:1000px;
    }
}
@keyframes animate2
{
    0%{
        background-position-x:0px;
    }
    100%{
        background-position-x:-1000px;
    }
}
@keyframes animate3
{
    0%{
        background-position-x:0px;
    }
    100%{
        background-position-x:100px;
    }
}
@keyframes animate4
{
    0%{
        background-position-x:0px;
    }
    100%{
        background-position-x:100px;
    }
}


